<!--
<p>
<strong>参加しているグループ</strong><br>
<%= @member.group.name %>
</p
-->

<p>
<strong>ユーザID</strong><br>
<%= @member.user_id %>
</p>

<p>
<strong>ユーザ名</strong><br>
<%= user_email(@member.user_id) %>

<%= link_to '戻る', group_path, class: "btn btn-default btn-lg btn-block" %>
