<div class="container">
<p id="notice"><%= notice %></p>

<p>
  <strong>参加しているグループ</strong><br>
  <%= @member.group_id %>
</p>

<p>
  <strong>ユーザID</strong><br>
  <%= @member.user_id %>
</p>

<%= link_to '戻る', members_path, class: "btn btn-default" %>
</div>
