Html, body {
  background-color: #fff;
  color: #333;
  font-family: Verdana, Roboto, sans-serif;
  font-size: 25px !important;
  line-height: 30px;
  height: 100%;
  width: 100%;
}

.container{
  word-break: break-all;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #333 !important;
  text-decoration: none !important;
  display: block;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

.talk_page {
  .foot {
    position: fixed;
    bottom: 10px;
    z-index: 999;
    .form-group {
      .btn-success {
        height: 33px;
        .add-file {
          font-size: 25px;
          position: relative;
          top: -8px;
        }
      }
    }
  }

  .talk_table {
    .talk_user_name {
      font-size: 15px;
    }
    .user {
      width: 60px;
      p {
        text-aligin:center;
      }
    }
    .content p{
      line-height: 22px;
      min-width: 10px;
      margin-left: 60px;
      font-size: 20px;
      width: 100%;
      word-break: break-all;
      padding: 5px;
      margin: 10px 3px;
      position: relative;
      background: #87ceeb;
      a {
        text-decoration: 0;
      }
      &:after {
        right: 100%;
        top: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-color: rgba(136, 183, 213, 0);
        border-right-color: #87ceeb;
        border-width: 6px;
        margin-top: -6px;
      }
    }
    .user {
      font-size: 10px;
      position: relative;
    }
    padding: 0 10px;
  }
}

.group_link {
  line-height: 26px;
  font-size: 25px;
  padding: 0 0 0 6px;
}

a[href^="/"] {
  margin-top: 9px;
}

.btn {
  color: #fff !important;
}

.btn-default {
  color: #000 !important;
}

.group_link {
  width: 100%;
  min-height: 81px;
}

.btn-success,
.btn-primary,
.btn-warning,
.btn-danger{
  color: #fff !important;
}

#footer {
  height: 60px;
}

.talk_bottom {
  position: fixed;
  background-color: #fff;
  height: 60px;
  margin-top: -60px;
  width: 100%;
  bottom: 0;
}

h1.group-desc {
  margin-bottom: 0;
}
h2.group-desc {
  margin-top: 0;
}

.form-group input{
  width: 100%;
}

.talk_message {
  padding-top: 4px;
}

#error_explanation{
  h2 {
    display: none;
  }
  li {
    list-style: none;
    margin-left: -30px;
  }
}

#lat,
#lng {
  display: none;
}

