@charset "UTF-8";
div#fakegrid {
  overflow: hidden;
  *zoom: 1;
  margin-top: -10px;
  margin-bottom: 5px;
}
@media screen and (max-width: 768px) {
  div#fakegrid {
    display: none;
  }
}
div#fakegrid div.col_1 {
  height: 5px;
  background: #DC2C61;
}

* {
  font-family: 'Arial','メイリオ','ＭＳ Ｐゴシック', 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro', Sans-serif;
  line-height: 1.4em;
}

html {
  overflow-y: scroll;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: #f5faf1;
}

.content {
  margin: 0 auto;
  width: 978px;
}

.b {
  color: #e50000;
}

header {
  border-top: 5px solid #47a447;
  background: #D8F9C6;
  height: 100px;
}
header h1 {
  margin: 0;
  padding: 0;
  height: 100px;
}
header ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
header ul li {
  display: block;
  float: right;
  width: 100px;
  height: 100px;
  background: #CCC;
  text-align: center;
  line-height: 100px;
  font-weight: bold;
}
header ul li#signup {
  background: #55AFDF;
}
header ul li#signin {
  background: #84D244;
}

#ride {
  width: 958px;
  padding: 10px;
}
#ride #ex {
  padding: 30px;
  font-size: 1.2em;
}
#ride #ex p {
  line-height: 1.8em;
}
#ride #ex h2#copy {
  margin: 0 0 0.5em 0;
  padding: 0;
  font-size: 2.5em;
  text-align: left;
}
#ride #dekiru_list {
  font-size: 1.1em;
  line-height: 1.9em;
}
#ride #dekiru_list li {
  margin: .5em;
}

.button {
  display: block;
  text-align: center;
  text-decoration: none;
  color: #FFF;
  font-size: 3em;
  padding: .5em;
  margin: 10px 0;
}

.small {
  font-size: 2em;
  padding: .5em;
  margin: 10px;
}

.green {
  background: #47a447;
}
.green:hover, .green:active, .green:focus {
  background: #51b451;
}

.red {
  background: #d9534f;
}
.red:hover, .red:active, .red:focus {
  background: #de6764;
}

#sonohoka {
  overflow: hidden;
  margin: 10px -10px;
}

.tables {
  margin: 30px auto;
}
.tables th, .tables td {
  line-height: 2em;
  text-align: center;
}
.tables th {
  background: #47a447;
}
.tables td {
  background: #D8F9C6;
  border-bottom: 2px solid #FFF;
}

#results {
  text-align: center;
  padding: 20px;
  font-size: 1.5em;
}

footer {
  text-align: center;
  margin-top: 40px;
  padding: 50px;
  background: #CCC;
}
