<div class="container">
<h2><%= @group.name %></h2>
<h3><%= @group.description %></h3>


<p>
<%= button_to 'このグループに参加する', add_member_group_path(@group.id, add: "true"), class: "btn btn-lg btn-primary btn-block" %>
</p>
<p>
<% link_to "戻る", :back, class: "btn btn-lg btn-block btn-default" %>
</div>
