<div class="container">
    <h1>参加グループ</h1>
    <% @groups.each do |group| %>
      <!-- トークへのリンクにしたいです&imgにグループ画像を入れたいです -->
      <img src="" class="img_rounded">
      <%= link_to group.name, group, class: "group_link" %>
    <% end %>
</div>
    <%= link_to "", new_group_path, class: "new_group foot glyphicon glyphicon-plus" %>
